html, body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.font-playfair {
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-weight: 400;
}

.social-content {
    display: flex;
    margin: 8px;
    font-size: 24px;
}

.social-content p {
    color: rgb(54, 54, 54);
}
